/*-----UNIVERSAL STYLING------*/
body{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-style: normal;
  background-color: #F8E8CE;
}

section, header {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

header {
  max-width: 1250px;
  color: #F8E8CE;
}

header h1 {
  margin: 1em 0;
  font-size: 5.2em;
  font-weight: bold;
  line-height: 1.2
}

/*-----BACKGROUNDS-----*/

.background-colour {
  width: 100%;
  padding: 4em 0;
  background: rgb(230,69,136);
  background: linear-gradient(45deg, rgba(230,69,136,1) 0%, rgba(245,140,45,1) 100%, rgba(250,137,45,1) 100%);
}

.background-colour h2 {
  color: #F8E8CE;
}

/*---TYPOGRAPHY---*/

h1, h2 {
  font-family: itc-benguiat, serif;
  font-weight: 500;
  font-style: normal;
}

/*---ESTABLISH TYPE HIERARCHY BASED ON FONT CHOICES---*/

h1 {
  font-size: 4em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 3em;
  margin: 1em 0;
  color: #e64588;
}

p{
  font-size: 1.25;
  line-height: 1.5;
  margin-bottom: 1em;
  font-weight: 200;
}

/*-----STYLING LINKS----*/

a{
  color: #49C4E5;
  text-decoration: none;
}

a:hover {
  color: #E02B2B;
  border-bottom: 1px dotted;
}

.background-colour a:hover {
  color: #FFF6A7;
}
/*----NAVIGATION-----*/

nav{
  top: 0;
  left: 0;
  width: 100;
  background-color: #1DB159;
  padding: 1em 1em;
  font-size: 0.9em
}

nav ul {
  padding-right: 15vw;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li {
  display: inline;
  margin: 20px;
  background: none;
}

nav a:link {
  color: #F4D201;
}

nav a:visited {
  color: #F8E8CE;
}

nav a:hover {
  border-bottom: none;
  color: #E02B2B;
  transition: all 0.3s ease-in-out;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  padding-right: 30vw;
}

/*----IMAGES-----*/
img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/*-----PORTFOLIO----*/

.portfolio {
  max-width: 850px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.portfolio h1 {
  text-align: center;
}

li {
  position: relative;
}

/*--------FOOTER------*/

footer {
  text-align: center;
  font-size: 0.707;
  padding: 2em 0 8em 0;
  margin: auto;
  color: #F8E8CE;
  background: #1DB159 ;
}

.connections {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2em;
}

.connections ul {
  margin: 0;
  padding: 0;
}

.connections li {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.connections a:link {
  border-bottom: none;
}

.connections img,
.connections svg {
  border: none
}

.connections a:hover svg path {
  fill: #e64588;
  transition: all 0.3s ease-in-out
}

@media only screen and (max-width: 600px) {

  section, header {
    width: 90%;
    margin: auto;
  }

header h1 {font-size: 3.25em}

.portfolio {grid-template-columns: repeat(2, minmax(150px, 1fr))}

}
